<h2>Cookies</h2>
<a href="#/cookies/add">Add new</a>
{{#each this}}
    <h3><a href="#/cookies?category={{category}}">{{category}}</a></h3>
    {{#each items}}
        <div class="cookie-box" data-id="{{id}}">
			<p><strong>{{text}}</strong>
			<br>{{shareDate}}
            <br><img src="{{img}}" style="width:150px;height:120px">
            <br>Likies: {{likes}} | Dislikes: {{dislikes}}
        </div>
    {{/each}}
{{/each}}
